{{hint}}
<div *ngIf="isListMode && loginUser.adminFlag==='Y'">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-head">
        <tr class="table-danger">
          <th scope="col">操作</th>
          <th scope="col">申請人</th>
          <th scope="col">編號</th>
          <th scope="col">假別</th>
          <th scope="col">請假起始日</th>
          <th scope="col">請假結束日</th>
          <th scope="col">小時</th>
          <th scope="col">假單狀態</th>
        </tr>
      </thead>
      <tbody class="table-content">
        <tr *ngFor="let ord of leaveOrders" class="table-secondary">
          <td>
            <button type="submit" class="btn btn-danger btn-sm" (click)="showDetail(ord)">查看</button>
          </td>
          <td>{{ord.employeeName}}</td>
          <td>{{ord.no}}</td>
          <td>
            <ng-container [ngSwitch]="ord.leaveType">
              <ng-container *ngSwitchCase="'1'">事假</ng-container>
              <ng-container *ngSwitchCase="'2'">病假</ng-container>
              <ng-container *ngSwitchCase="'3'">公假</ng-container>
              <ng-container *ngSwitchCase="'4'">公傷假</ng-container>
              <ng-container *ngSwitchCase="'5'">婚假</ng-container>
              <ng-container *ngSwitchCase="'6'">喪假</ng-container>
              <ng-container *ngSwitchCase="'7'">產假</ng-container>
              <ng-container *ngSwitchCase="'8'">特休</ng-container>
              <ng-container *ngSwitchCase="'9'">補假</ng-container>
              <ng-container *ngSwitchCase="'10'">陪產假</ng-container>
              <ng-container *ngSwitchCase="'11'">生理假</ng-container>
            </ng-container>
          </td>
          <td>{{ord.dateStart | date:"yyyy-MM-dd"}}</td>
          <td>{{ord.dateEnd | date:"yyyy-MM-dd"}}</td>
          <td>{{ord.leaveTime}}</td>
          <td>
            <ng-container [ngSwitch]="ord.status">
              <ng-container *ngSwitchCase="'1'">待審核</ng-container>
              <ng-container *ngSwitchCase="'2'">通過</ng-container>
              <ng-container *ngSwitchCase="'3'">不通過</ng-container>
            </ng-container>
          </td>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="!isListMode">
  <form [formGroup]="leaveOrderForm">
    <div class="form-row">
      <button type="button" class="btn btn-outline-secondary" (click)="backToList()">返回</button>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="leaveType">假別</label>
        <select class="form-control" formControlName="leaveType">
          <option value="1">事假</option>
          <option value="2">病假</option>
          <option value="3">公假</option>
          <option value="4">公傷假</option>
          <option value="5">婚假</option>
          <option value="6">喪假</option>
          <option value="7">產假</option>
          <option value="8">特休</option>
          <option value="9">補假</option>
          <option value="10">陪產假</option>
          <option value="11">生理假</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="cause">事由</label>
        <input type="text" class="form-control" id="cause" formControlName="cause" [readonly]="true">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="dateStart">請假起始日</label>
        <input type="date" class="form-control" name="dateStart" format="YYYY-MM-DD" formControlName="dateStart" [readonly]="true">
      </div>
      <div class="form-group col-md-3">
        <label for="dateEnd">請假結束日</label>
        <input type="date" class="form-control" name="dateEnd" format="YYYY-MM-DD" formControlName="dateEnd" [readonly]="true">
      </div>
      <div class="form-group col-md-1">
        <label for="leaveTime">請假時數</label>
        <input type="number" class="form-control" id="leaveTime" formControlName="leaveTime" [readonly]="true">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="remark">備註</label>
        <textarea class="form-control" id="remark" formControlName="remark" [readonly]="true"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="agent">代理人</label>
        <input type="text" class="form-control" id="agent" formControlName="agentName" [readonly]="true">
      </div>
      <div class="form-group col-md-2">
        <label for="status">假單狀態</label>
        <select formControlName="status" class="form-control">
          <option value="1">待審核</option>
          <option value="2">通過</option>
          <option value="3">不通過</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <button type="button" class="btn btn-danger" (click)="clickPass()">通過</button>
      <button type="button" class="btn btn-danger" (click)="clickNoPass()">不通過</button>
    </div>
  </form>
</div>