<div class="row" id="body-row">
  <!-- Sidebar -->
  <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <ul class="list-group">
      <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
        <small>
          MENU
        </small>
      </li>
      <a routerLink="userInfo" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-dashboard fa-fw mr-3"></span>
          <span class="menu-collapsed">基本資料</span>
        </div>
      </a>
      <a routerLink="employees" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-dashboard fa-fw mr-3"></span>
          <span class="menu-collapsed">員工管理</span>
        </div>
      </a>
      <a routerLink="leaveApply" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-user fa-fw mr-3"></span>
          <span class="menu-collapsed">請假申請</span>
        </div>
      </a>
      <a routerLink="leaveRecord" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-user fa-fw mr-3"></span>
          <span class="menu-collapsed">請假紀錄</span>
        </div>
      </a>
      <a routerLink="leaveOrderManage" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-user fa-fw mr-3"></span>
          <span class="menu-collapsed">假單審核</span>
        </div>
      </a>
    </ul>
  </div>